.home-classification-item {
  width: 22%;
  height: 60px;
  background-color: #ccc;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
